<div>
    <nav class="navbar navbar-default ">
        <div class="container-fluid">
            <div class="navbar-header">


                <li>@Html.ActionLink("MVCAPP", "Index", "Home")</li>
            </div>
            <ul class="nav navbar-nav">

                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("User", "UserDetails", "Home")</li>
                <li>@Html.ActionLink("Employee", "postEmployee2", "Home")</li>

            </ul>
        </div>
    </nav>

</div>
